@media screen and (max-width: 1025px) {
    .container {
        margin: 2.4rem 2.2rem;
    }
    header {
        margin: 10rem 2.2rem;
    }
    .connect-section {
        padding: 12.2rem 2.2rem;
    }
    footer {
        padding: 2rem 2.2rem;
    }
}
@media screen and (max-width: 769px) {
    .heading {
        padding-right: 0;
        font-size: 2.8rem;
        line-height: normal;
    }
    .main-heading {
        font-size: 1.4rem;
    }
    .sub-heading, .read-more-link p {
        font-size: 1rem;
    }
    .read-underline {
        width: 100px;
    }
    .startBun-main-heading, .B2B-main-heading {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 426px) {
    .nav-links {
        font-size: 1rem;
        gap: 1rem;
    }
    .work-div {
        width: 38px;
        transform: translateX(0px);
    }
    
    .feed-div {
        width:36px;
        transform: translateX(0px);
    }
    
    .about-div {
        width: 45px;
        transform: translateX(0px);
    }
    
    .contact-div {
        width: 60px;
        transform: translateX(0px);
    }
    header {
        margin: 6rem 2.2rem;
    }
    .heading {
        font-size: 1.8rem;
    }
    .heading-text p {
        font-size: 1rem;
    }
    .main-heading {
        font-size: 1.4rem;
    }
    .sub-heading, .read-more-link p {
        font-size: 1rem;
    }
    .read-underline {
        width: 100px;
    }
    .startBun-main-heading, .B2B-main-heading {
        font-size: 1.4rem;
    }
    section {
        margin-top: 4em;
        grid-template-columns: 1fr;
        grid-template-rows: 350px 300px;
        gap: 20px;
    }
    .B2B-service-section {
        margin-bottom: 8em;
    }
    .transport-section-right {
        gap: 20px;
    }
}